# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files
*.pkl
*.joblib

# Virtual environment
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# OS-specific files
.DS_Store
Thumbs.db
